@model List<DesignPattern.CQRS.CQRSPattern.Results.GetProductQueryResult>

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Getir</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ID</td>
                <td>@x.ProductName</td>
                <td>@x.Price</td>
                <td>@x.Stock</td>
                <td><a class="btn btn-outline-primary" href="/Default/GetProduct/@x.ID/">Getir</a></td>
                <td><a class="btn btn-outline-danger" href="/Default/DeleteProduct/@x.ID/">Sil</a></td>
                <td><a class="btn btn-outline-info" href="/Default/UpdateProduct/@x.ID/">Güncelle</a></td>
            </tr>
        }
    </table>
    <a class="btn btn-outline-info" href="/Default/AddProduct/">Yeni Ürün Ekle</a>
</div>